<div class="form-group has-success">
  <%= f.label :name, 'ユーザー名' %>
  <%= f.text_field :name, class: 'form-control' %>
</div>
<div class="form-group has-success">
  <%= f.label :email, 'メールアドレス' %>
  <%= f.text_field :email, class: 'form-control' %>
</div>
<div class="w-50 center-block mt-5">
  <%= f.submit "編集", class: 'btn-lg btn-success rounded-pill btn-block' %>
</div>
