<div class="container">
  <div class="row">
    <div class="col-xs-9">
      <h2>マイページ</h2>
      <h3><%= current_user.name %>総学習時間 : <%= @logs.sum(:study_record) %>(h) </h3>
      <h3><%= current_user.name %>のログ</h2>
      <table class="table table-success table-hover shadow">
        <thead>
          <tr>
            <th class="p-4">タイトル</th>
            <th class="p-4">カテゴリ名</th>
            <th class="p-4">成果</th>
            <th class="p-4">学習時間</th>
          </tr>
        </thead>
        <tbody>
        <% @logs.each do |log| %>
            <tr>
                <td class="p-4">
                  <%=link_to log_path(log), class:"text-dark" do %>
                    <%= log.title %>
                  <% end %>
                </td>
                <td class="p-4"><%= log.category.name %></td>
                <td class="p-4"><%= log.achieve %></td>
                <td class="p-4"><%= log.study_record %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-xs-3">
      <h2><%= current_user.name %>のカテゴリ一覧</h2>
      <table>
        <% @categories.each do |category| %>
          <tbody>
            <tr>
              <td><%= link_to category.name,category_path(category) %> </td>
            </tr>
          </tbody>
        <% end %>
      </table>
      <div class="row">
        <p>ログ数</p>
        <%= pie_chart @category_logs %>
      </div>
      <div class="row">
        <p>学習時間</p>
        <%= pie_chart @category_study_records %>
      </div>
    </div>
  <div>
<div>
