<h1>マイページ</h1>
<h2><%= current_user.name %>のログ</h2>
<h3>総学習時間 : <%= @logs.sum(:study_record) %>(h) </h3>
<%= pie_chart @category_logs %>
<table>
  <thead>
    <th>タイトル</th>
    <th>カテゴリ</th>
    <th>成果</th>
    <th>良かった点</th>
    <th>改善点</th>
    <th>今後試すこと</th>
    <th>学習時間</th>
  </thead>
  <% @logs.each do |log| %>
    <tbody>
      <tr>
        <td><%= log.title %></td>
        <td><%= log.category.name %></td>
        <td><%= log.achieve %></td>
        <td><%= log.keep %></td>
        <td><%= log.problem %></td>
        <td><%= log.try %></td>
        <td><%= log.study_record %></td>
      </tr>
    </tbody>
  <% end %>
</table>
<h2><%= current_user.name %>のカテゴリ一覧</h2>
<table>
  <% @categories.each do |category| %>
    <tbody>
      <tr>
        <td><%= link_to category.name,category_path(category) %> </td>
      </tr>
    </tbody>
  <% end %>
</table>