<a href="https://twitter.com/share?ref_src=twsrc%5Etfw"
data-text="#<%= log.category.name %>  No.<%= logs.count %>
【学習内容】
<%= log.title %>

【成果】
<%= log.achieve %>
学習時間 (h) : <%= "%.15g"%log.study_record%> 合計 (h) : <%= sum %>
"
class="twitter-share-button" data-url="
by Steadily" data-show-count="false">Tweet</a>