<div class="container">
  <div class="row">
    <h2>みんなのログ</h2>
    <h3>みんなの総学習時間 : <%= @logs.sum(:study_record) %>(h) </h3>
    <table class="table table-success table-hover shadow">
      <thead>
        <tr>
          <th class="p-4">タイトル</th>
          <th class="p-4">ユーザー名</th>
          <th class="p-4">カテゴリ名</th>
          <th class="p-4">成果</th>
          <th class="p-4">学習時間</th>
        </tr>
      </thead>
      <tbody>
      <% @logs.each do |log| %>
        <tr>
          <td class="p-4"><%= log.title %></td>
          <td class="p-4"><%= log.user.name %></td>
          <td class="p-4"><%= log.category.name %></td>
          <td class="p-4"><%= log.achieve %></td>
          <td class="p-4"><%= log.study_record %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <div>
<div>
