<div class="row">
  <div class="col">
    <h2>みんなのログ</h2>
    <h3>みんなの総学習時間 : <%= @study_record_sum %>(h)</h3>
    <table class="table table-success table-hover shadow">
      <thead>
        <tr>
          <th class="p-4">ログタイトル</th>
          <th class="p-4">ユーザー名</th>
          <th class="p-4">カテゴリ名</th>
          <th class="p-4">成果</th>
          <th class="p-4">学習時間 (h)</th>
        </tr>
      </thead>
      <tbody>
      <% @logs.each do |log| %>
        <tr>
          <td class="p-4">
            <%= link_to log_path(log), class:"text-dark" do %>
              <%= log.title %>
            <% end %>
          </td>
          <td class="p-4">
            <%= link_to user_path(log.user.id), class:"text-dark" do %>
              <%= log.user.name %>
            <% end %>
          </td>
          <td class="p-4">
            <%= link_to category_path(log.category.id), class:"text-dark" do %>
              <%= log.category.name %>
            <% end %>
          </td>
          <td class="p-4">
            <%= link_to log_path(log), class:"text-dark" do %>
              <%= log.achieve %>
            <% end %>
          </td>
          <td class="p-4">
            <%= link_to log_path(log), class:"text-dark" do %>
              <%= "%.15g"%log.study_record %>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <%= paginate @logs %>
    <%= link_to "ユーザー一覧はこちら", users_path, class:"btn btn-primary btn-block"%>
  </div>
<div>
