<%= form_with model: @log,local:true,  url: logs_path, method: :post do |f| %>
  <h2>タイトル</h2>
  <%= f.text_field :title %>
  <h2>成果</h2>
  <%= f.text_area :achieve %>
  <h2>学習時間</h2>
  <%= f.number_field :study_record %>
  <br>
  <%= f.submit "記録" %>
<% end %>