<% sum = 0 %>
<% @logs.each do |log| %>
  <% sum += log.study_record %>
<% end %>
<ul class="text-dark">
  <li><%= current_user.name %></li>
  <li><%= @log.title %></li>
  <li><%= @log.achieve %></li>
  <li><%= sum %></li>
  <li><%= @log.study_record %></li>
  <li><%= @log.category.name %></li>
  <li><%= link_to "編集", edit_log_path(@log) %></li>
  <li><%= button_to "削除", log_path(@log), method: :delete %></li>
</ul>

<a href="https://twitter.com/share?ref_src=twsrc%5Etfw"
data-text="#<%= @log.category.name %>  No.<%= @logs.count %>
【学習内容】
<%= @log.title %>

【成果】
<%= @log.achieve %>
学習時間 (h) : <%= @log.study_record %> 合計 (h) : <%= sum %>
"
class="twitter-share-button" data-url="
by Steadily" data-show-count="false">Tweet</a>


<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>