<!DOCTYPE html>
<html>
  <head>
    <title>Steadily</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <header>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="col-xs-3">Steadily</h1>
          <ul class="col-xs-9 list-inline vertical-align-center">
            <li class="col-xs-2">
              <%= link_to "みんなのログ", logs_path %>
            </li>
            <li class="col-xs-2">
              <%= link_to "ユーザー一覧", users_path %>
            </li>
            <li class="col-xs-2">
              <%= link_to "マイページ", user_path(current_user.id) %>
            </li>
            <li class="col-xs-2">
              <%= link_to "ログ作成", new_log_path %>
            </li>
            <li class="col-xs-2">
              <%= link_to "カテゴリ一覧", categories_path %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
    <%= yield %>
  </body>
</html>
